.form-login-container {
  display: flex;
  width: 100vw;
  height: 100vh;
  align-content: center;
  justify-content: center;
}

.form-login {
  display: flex;
  flex-direction: column;
  justify-content: center;
  justify-self: center;
  align-self: center;
  align-items: center;
  gap: 0.5rem;
  width: 300px;
  height: 300px;
  border: 2px solid var(--secondary-gray);
  border-radius: 15px;
}

.form-login-input {
  display: flex;
  flex-direction: column;
  width: 70%;
  text-align: center;
  gap: 0.5rem;
}

.form-login-input label {
  font-size: 1.2rem;
  color: var(--text-dark);
  font-weight: 550;
}

.form-login-input input {
  border: 2px solid var(--secondary-gray);
  border-radius: 15px;
  font-size: 0.8rem;
  padding: 2px;
}

.form-error {
  width: 95%;
  padding: 0.5rem;
  background-color: transparent;
  color: var(--orange);
  font-size: 1rem;
}

.form-btn {
  width: 70%;
  background-color: var(--primary-blue);
  color: var(--backgroud-white);
  font-size: 1rem;
  padding: 0.2rem;
  border-radius: 15px;
  border: none;
  transition: 0.3s ease-in;
}

.form-btn:hover {
  transform: scale(1.03);
}